# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/

# Others
*.log
*.vsidx

## --- Allow core source folders ---
!Controllers/
!Models/
!Views/
!wwwroot/
!Migrations/
!Properties/

## Allow source files
!*.cs
!*.csproj
!*.sln
!*.json
!*.xml
!*.config
